/* Header */
.header {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    background-color: white;
    z-index: 100;
    top: 0;
    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
}

/* Header Left */
.headerLeft {
    display: flex;
    justify-content: space-evenly;
}
.headerLeft img {
    height: 40px;
}
.headerInput {
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding: 10px;
    margin-left: 10px;
    border-radius: 99px;
}
.headerInput input {
    border: none;
    background-color: transparent;
    outline-width: 0;
}

/* Header Center */
.headerCenter {
    display: flex;
    flex: 1;
    justify-content: center;
}
.headerOption {
    display: flex;
    align-items: center;
    padding: 0 30px;
    cursor: pointer;
}
.headerOption:hover {
    background-color: #eff2f5;
    border-radius: 10px;
    border-bottom: none;
}
.headerOption .MuiSvgIcon-root {
    color: gray;
}
.headerOption:hover .MuiSvgIcon-root {
    color: #2e81f4;
}
.headerOptionActive {
    border-bottom: 4px solid #2e81f4;
}
.headerOptionActive .MuiSvgIcon-root {
    color: #2e81f4;
}

/* Header Right */
.headerRight{
    display: flex;
}
.headerInfo {
    display: flex;
    align-items: center;
}
.headerInfo h4 {
    margin-left: 10px;
}